<div class="uk-container uk-margin-top">
  <article class="uk-article">

    <h1 class="uk-article-title"><a class="uk-link-reset" href="">About</a></h1>

    <p class="uk-article-meta">
      <a href="https://github.com/Mahlia44">Mahlia Merville-Hipeau</a>
      &#183;
      <a href="https://github.com/siimmarkus">Siim Markus Marvet</a>
      &#183;
      <a href="https://github.com/jankokla">Jan Kokla</a>
    </p>

    <p class="uk-text-lead">This project, part of the EPFL Master Course
      <i>Data Visualization (COM-480)</i>, focuses on creating an interactive
      platform to analyze Estonia's real estate market through clear
      visualizations.</p>
    <p>The dataset, provided by the Estonian Land Board, covers property
      transactions across Estonia. It includes aggregated data on transaction
      types, property features, land characteristics, and participant
      demographics, enabling a deeper understanding of market trends and
      property prices.</p>

    <h2>Why This Matters</h2>
    <p>Real estate trends are a reflection of broader economic, social, and
      urban development patterns. By visualizing this data, we aim to:</p>
    <ul>
      <li><strong>Empower citizens:</strong>
        Provide knowledge about housing trends and opportunities.</li>
      <li><strong>Support policymakers:</strong>
        Aid in crafting effective urban planning and housing policies.</li>
      <li><strong>Contribute globally:</strong>
        Showcase the importance of making real estate data transparent and
        accessible.</li>
    </ul>

    <p>Explore our visualizations to uncover the story behind Estonia's evolving
      real estate landscape!</p>

    <div class="uk-grid-small uk-child-width-auto" uk-grid>
      <div>
        <a
          class="uk-button uk-button-text"
          href="https://www.maaamet.ee/kinnisvara/htraru/FilterUI.aspx"
        >Learn More About the Dataset</a>
      </div>
      <div>
        <a
          class="uk-button uk-button-text"
          href="mailto:jan.kokla@gmail.com"
        >Contact Us</a>
      </div>
    </div>

  </article>
</div>