<div class="uk-container uk-margin-top">
  <h1>{{pageTitle}}</h1>

  <div uk-grid class="uk-margin-large-bottom">
    <div class="uk-width-1-1">
      <h3 class="uk-card-title">Timeline</h3>
      <figure timeline></figure>
    </div>
    <div class="uk-width-3-5@m">
      <h3 class="uk-card-title">Map</h3>
      <figure municipality-map></figure>
    </div>
    <div class="uk-width-2-5@m">
      <h3 class="uk-card-title">Spider Chart</h3>
      <figure spider-chart></figure>
    </div>
    <div class="uk-width-1-2@m uk-height-1-1">
      <div class="uk-height-1-1">
        <h3 class="uk-card-title">Bubble</h3>
        <figure bubble-chart></figure>
      </div>
    </div>
    <div class="uk-width-1-2@m uk-height-1-1">
      <div class="uk-height-1-1">
        <h3 class="uk-card-title">Tree-map Sellers and Buyers</h3>
        <figure treemap-chart></figure>
      </div>
    </div>
  </div>
</div>

<script type="module" src="../static/js/county.js"></script>