<div class="uk-container uk-margin-top">
  <h1 class="uk-heading-large">{{pageTitle}}</h1>

  <div uk-grid class="uk-grid-small uk-margin-large-bottom">
    <div class="uk-card uk-card-default uk-width-1-1 uk-padding-remove-left">
      <div class="uk-card-header">
        <h3 class="uk-card-title uk-margin-remove-bottom">Timeline</h3>
        <p class="uk-text-meta uk-margin-remove-top">Subtitle</p>
      </div>
      <div class="uk-card-body">
        <figure timeline></figure>
      </div>
    </div>

    <div class="uk-card uk-card-default uk-width-3-5@m uk-padding-remove-left">
      <div class="uk-card-header">
        <h3 class="uk-card-title uk-margin-remove-bottom">Map</h3>
        <p class="uk-text-meta uk-margin-remove-top">Subtitle</p>
      </div>
      <div class="uk-card-body">
        <figure municipality-map></figure>
      </div>
    </div>

    <div class="uk-card uk-card-default uk-width-2-5@m uk-padding-remove-left">
      <div class="uk-card-header">
        <h3 class="uk-card-title uk-margin-remove-bottom">Spider Chart</h3>
        <p class="uk-text-meta uk-margin-remove-top">Subtitle</p>
      </div>
      <div class="uk-card-body">
        <figure spider-chart></figure>
      </div>
    </div>

    <div
      class="uk-card uk-card-default uk-width-1-2@m uk-height-1-1 uk-padding-remove-left"
    >
      <div class="uk-card-header">
        <h3 class="uk-card-title uk-margin-remove-bottom">Bubble</h3>
        <p class="uk-text-meta uk-margin-remove-top">Subtitle</p>
      </div>
      <div class="uk-card-body">
        <figure bubble-chart></figure>
      </div>
    </div>

    <div
      class="uk-card uk-card-default uk-width-expand@m uk-height-1-1 uk-padding-remove-left"
    >
      <div class="uk-card-header">
        <h3 class="uk-card-title uk-margin-remove-bottom">Tree-map Sellers and
          Buyers</h3>
        <p class="uk-text-meta uk-margin-remove-top">Subtitle</p>
      </div>
      <div class="uk-card-body">
        <figure treemap-chart></figure>
      </div>
    </div>

  </div>
</div>

<script type="module" src="../static/js/county.js"></script>