<div class="uk-container uk-flex uk-flex-column uk-height-viewport">
  <h1 class="uk-heading-xlarge uk-margin-remove-bottom">Your Large Hero Header</h1>
  <div class="uk-flex uk-flex-right uk-margin-medium-bottom">
    <p class="uk-text-left uk-text-large uk-width-1-2@m">
      Your paragraph text here. This text will be aligned to the right, start
      from the middle of the screen on medium-sized devices and larger, and be
      vertically close to the hero header.
    </p>
  </div>
  <div class="range-slider">
      <span class="range-slider__value">0</span>
      <input
        class="range-slider__range"
        type="range"
        value="2024"
        min="2010"
        max="2024"
      />
    </div>
  <div id="map-container" style="min-height: 40vw" class="uk-container uk-height-large uk-width-1-1"> </div>
</div>

<script type="module" src="../static/js/map.js"></script>