<div class="uk-container uk-flex uk-flex-column uk-margin-large-bottom">
  <h1 class="uk-heading-xlarge uk-margin-remove">Property Prices in<br
    />Estonia</h1>
  <div class="uk-margin-small-bottom uk-grid">

    <div class="uk-width-1-2@m uk-flex-last@m uk-margin-small-top">

      <p class="uk-text-left uk-text-large map-description">
        Explore the average property transaction prices (€) using the
        interactive slider to track changes over the years. Click on individual
        counties to dive deeper into local market trends 👇
      </p>
    </div>

    <div
      class="range-slider uk-margin-medium-top uk-width-1-2@m uk-flex-first@m"
    >
      <div class="uk-flex-row">
        <button
          id="slider-play-button"
          class="uk-icon-button uk-margin-small-right"
        >
          <i id="play-icon" class="fas fa-play"></i>
        </button>
        <input
          class="range-slider__range"
          type="range"
          value="2010"
          min="2010"
          max="2024"
        />
      </div>

      <span
        class="range-slider__value uk-text-muted uk-heading-large uk-margin-remove uk-padding-remove-bottom"
      >0</span>
    </div>

  </div>
  <div
    id="map-container"
    class="uk-container uk-flex uk-flex-column uk-width-1-1 uk-margin-medium-bottom uk-position-relative"
  >
    <div
      id="map-legend"
      class="uk-position-bottom-left uk-width-1-2"
      style="height: 34px"
    >
    </div>
  </div>
</div>

<script type="module" src="../static/js/map.js"></script>