<div class="uk-container uk-flex uk-flex-column uk-margin-large-bottom">
  <h1 class="uk-heading-xlarge uk-margin-remove">Property Prices in Estonia</h1>

  <p class="uk-text-left uk-text-large uk-margin-remove-bottom">
    Use the interactive slider to explore how the average property price per
    unit area (€ / m²) for completed transactions has changed over the years.
    Click on any county to dive deeper into local insights 👇
  </p>

  <div class="range-slider uk-margin-medium-top uk-width-1-2@m">
    <div class="uk-flex-row">
      <button
        id="slider-play-button"
        class="uk-icon-button uk-margin-small-right"
      >
        <i id="play-icon" class="fas fa-play"></i>
      </button>
      <input
        class="range-slider__range"
        type="range"
        value="2010"
        min="2010"
        max="2024"
      />
    </div>

    <span
      class="range-slider__value uk-text-muted uk-heading-large uk-margin-remove uk-padding-remove-bottom"
    >0</span>
  </div>
  <div
    id="map-container"
    class="uk-container uk-flex uk-flex-column uk-width-1-1 uk-margin-medium-bottom uk-position-relative"
  >
    <div
      id="map-legend"
      class="uk-position-bottom-left uk-width-1-2"
      style="height: 34px"
    >
    </div>
  </div>
</div>

<script type="module" src="../static/js/map.js"></script>